
@model System.DateTime

@{ 
    int day;
    string greeting = "";
    int hour;
    int year = @Model.Year;
    day = @Model.DayOfYear;
    
    int daysofYear = DateTime.IsLeapYear(@Model.Year)? 366 : 365;
    int daysLeft = daysofYear - day;
    hour = @Model.Hour;

    string date = Model.ToString("dddd, MMMM dd, yyyy");
    string time = Model.ToShortTimeString();



    if (12>hour)
    {
        greeting = "Good Morning!";
    }
    else if (hour >= 12 && hour < 18)
    {
        greeting = "Good Afternoon!";
    }
    else
    {
        greeting = "Good Evening!";

    }
}

@{
    ViewData["Title"] = "Index";
}

<h1 style="background-color: blue; color: white; padding: 10px; border-radius: 10px;">@greeting</h1>
<h4>The time is @time on @date</h4>
<p>There are @daysLeft days left in @year </p>
<a href="/Lab4/Page2" class="btn btn-lg btn-info">Page 2</a>


